.cvlib_canvas {
    display: block;
}

.cvlib_sidebarLayoutSidebar {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    overflow: auto;
    background-color: #fff;
}
.cvlib_sidebarLayoutContent {
    top:0;
    bottom:0;
    position: absolute;
    right: 0;
    overflow: auto;
    padding:30px 10px 0 5px;
}

.cvlib_canvasContainer {
    display: inline-block;
    position:relative;
    /*overflow:hidden;*/
    border:1px solid #ccc;
}

.cvlib_queryTable {
    border-collapse:collapse;
    margin:5px;
}

.cvlib_queryTable td {
    border-bottom:1px solid #ccc;
    padding:8px 10px;
    vertical-align:middle;
    height:28px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.cvlib_queryTable td:first-child {
    cursor:pointer;
    font-weight:bold;
}

.cvlib_queryTable td:nth-child(2) {
    text-align: center;
}

.cvlib_queryTable td:nth-child(3) {
    min-width:155px;
}

.cvlib_variableRow {
    /*background-color: #fefefe;*/
}

/*.cvlib_queryTable td:nth-child(4) {*/
/*    min-width:75px;*/
/*}*/

.cvlib_queryTable td input[type="number"]{
    width:50px;
}

.cvlib_matrix {
    border-collapse: collapse;
}

.cvlib_matrix td {
    margin:0;
    padding:0;
    vertical-align: top;
    /*border: 1px solid #ccc;*/
}

.cvlib_matrix td span {
    position:absolute;
    z-index:1;
    left:4px;
    top:4px;
    color: #777;
    background-color: #fff;
}

.cvlib_setInput ul {
    float: left;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0 10px;
    list-style-type: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.cvlib_setInput li {
    margin: 0;
    cursor: pointer;
    margin-top: 1px;
    padding: 3px 5px;
}

.cvlib_setInput .dragOver {
    margin-top: 0;
    border-top:1px solid #f00;
}

.cvlib_setInput li:hover {
    background-color: #eee;
}



.cvlib_searchBar {
    width: 90%;
    margin: 5px;
}

.cvlib_searchMessage {
    margin: 5px;
    max-width: 300px
}

.cvlib_searchMessage[mode="error"] {
    color: darkred;
}
.cvlib_searchMessage[mode="valid"] {
    color: green;
}
.cvlib_searchMessage[mode="waiting"] {
    color: black;
}

.cvlib_loadingBar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #aa0000;
}

.cvlib_loadingSymbol {
    position:absolute;
    z-index:1;
    right:4px;
    top:4px;
}

.cvlib_numberInput {
    width:50px;
    text-align: right;
}

.cvlib_numberLabel {
    padding-left: 5px;
    width: 50px;
    text-align: right;
}

.cvlib_label {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    color:gray;
}

/*.cvlib_loading {*/
/*    position:absolute;*/
/*    left:5px;*/
/*    top:5px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 10px;*/
/*    border: 3px solid;*/
/*    border-color: transparent #000 transparent #000;*/
/*    animation: example 0.7s linear 0s infinite;*/
/*}*/
/*@keyframes example {*/
/*    100% {transform: rotate(360deg);}*/
/*}*/