build-debug/
build-release/
build-debug-xcode/
build-release-xcode/
install-debug/
install-release/
.DS_Store
*.pyc
visitlog.py
uberenv_libs
*.tar.gz
*.tar
s_env.sh
_uberenv_test*
.idea/
build/
.ipynb_checkpoints
Untitle*.ipynb
