build-debug/
build-release/
build-debug-xcode/
build-release-xcode/
install-debug/
install-release/
.DS_Store
*.pyc
visitlog.py
uberenv_libs
*.tar.gz
*.tar
s_env.sh
_uberenv_test*
.ipynb_checkpoints
Untitle*.ipynb

build*

build_local/
.vscode/settings.json
src/.vscode/c_cpp_properties.json
src/.vscode/settings.json
clover_times.out0000
clover.in
clover.in.tmp
clover.out
.vscode/launch.json
src/examples/proxies/cloverleaf3d-ref/data_module.mod
