build/
build-debug/
build-release/
build-debug-xcode/
build-release-xcode/
install-debug/
install-release/
.DS_Store
*.pyc
visitlog.py
uberenv_libs
*.tar.gz
*.tar
s_env.sh
_uberenv_test*
.ipynb_checkpoints
Untitle*.ipynb
.spack-db
.spack-env
spack-libs
spack.lock
