# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

jobs:
# Linux build and test, using spack to build tpls
- job: Ubuntu
  pool: 
    vmImage: 'ubuntu-16.04'
  timeoutInMinutes: 0
  variables:
    COMPILER_CC: gcc-5
    COMPILER_CXX: g++-5
    COMPILER_FC: gfortran-5
    BUILD_SHARED_LIBS: ON
    CMAKE_BUILD_TYPE: Debug
    PYTHON_VERSION: 2.7.14
  steps:
    - checkout: self
      clean: boolean
      submodules: recursive

    - script: |
         sudo add-apt-repository ppa:ubuntu-toolchain-r/test
         sudo apt-get update
         export APT_PKGS=binutils
         export APT_PKGS="$APT_PKGS gcc-5"
         export APT_PKGS="$APT_PKGS g++-5"
         export APT_PKGS="$APT_PKGS gfortran-5"
         export APT_PKGS="$APT_PKGS openmpi-bin"
         export APT_PKGS="$APT_PKGS libopenmpi-dev"
         export APT_PKGS="$APT_PKGS libncurses-dev"
         export APT_PKGS="$APT_PKGS libssl-dev"
         export APT_PKGS="$APT_PKGS libblas-dev"
         export APT_PKGS="$APT_PKGS liblapack-dev"
         export APT_PKGS="$APT_PKGS zlib1g-dev"
         export APT_PKGS="$APT_PKGS libgdbm-dev"
         export APT_PKGS="$APT_PKGS libreadline-dev"
         export APT_PKGS="$APT_PKGS libsqlite3-dev"
         export APT_PKGS="$APT_PKGS libbz2-dev"
         sudo apt-get install $APT_PKGS
      displayName: 'Prepare build env'

    - script: |
         # echo system python details
         which python
         python --version
         # setup spack spec
         export SPACK_SPEC="%gcc@5+mpi"
         export SPACK_SPEC="${SPACK_SPEC} ^python@${PYTHON_VERSION}"
         echo $SPACK_SPEC
         # run uber to build tpls
         python scripts/uberenv/uberenv.py --pull --spec "${SPACK_SPEC}" --spack-config-dir=scripts/uberenv/spack_configs/travis/
      displayName: 'Spack Build Tpls'

    - script: |
         # setup compiler env vars
         export CC=${COMPILER_CC}
         export CXX=${COMPILER_CXX}
         export FC=${COMPILER_FC}
         ${CC} --version
         # find spack generated host config file
         export HOST_CONFIG=`ls uberenv_libs/*.cmake`
         echo $HOST_CONFIG
         # find spack installed cmake
         export CMAKE_BIN_DIR=`ls -d uberenv_libs/spack/opt/spack/*/*/cmake*/bin`
         export PATH=${CMAKE_BIN_DIR}:$PATH
         echo $PATH
         which cmake
         cmake --version
         # prepare build dir
         mkdir build
         cd build
         # setup cmake options
         export CMAKE_OPTS="-DCMAKE_BUILD_TYPE=${CMAKE_BUILD_TYPE}"
         export CMAKE_OPTS="${CMAKE_OPTS} -DBUILD_SHARED_LIBS=${BUILD_SHARED_LIBS}"
         export CMAKE_OPTS="${CMAKE_OPTS} -DCMAKE_INSTALL_PREFIX=../install"
         # configure
         cmake ${CMAKE_OPTS} -C ${HOST_CONFIG} ../src
         # build
         make VERBOSE=1
         # test
         env CTEST_OUTPUT_ON_FAILURE=1 make test
         # install
         make install
      displayName: 'Build and Test'
# Docker build and test, that leverages our script that calls Docker Build
# - job: Docker
#   pool:
#     vmImage: 'ubuntu-16.04'
#   timeoutInMinutes: 0
#   steps:
#     - checkout: self
#       clean: boolean
#       submodules: recursive
#
#     - script: |
#         cd src/examples/docker/ubuntu/ && ./example_build.sh
#       displayName: 'Docker Build'
