name: build_ascent

on:
  pull_request:
    branches: [ develop ]

jobs:
  build_pip_basic:
    name: Ubuntu Build Ascent
    runs-on: ubuntu-latest
    steps:
    - name: Install System Deps
      run: |
           sudo apt-get update
           sudo apt-get install binutils \
                                gcc \
                                g++ \
                                gfortran \
                                python \
                                perl \
                                git \
                                git-lfs \
                                curl \
                                wget \
                                tar \
                                unzip \
                                build-essential \
                                libncurses-dev \
                                libssl-dev \
                                libblas-dev \
                                liblapack-dev \
                                zlib1g-dev \
                                libgdbm-dev \
                                libreadline-dev \
                                libsqlite3-dev \
                                libbz2-dev \
                                mpich \
                                libmpich-dev \
                                cmake
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Build TPLs
      run: |
        env enable_mpi=ON \
            enable_tests=OFF \
            build_ascent=OFF \
            enable_verbose=OFF \
            build_jobs=2 \
            ./scripts/build_ascent/build_ascent.sh
    - name: Build Ascent
      run: |
        echo "**** Configuring Ascent"
        cmake -S src -B build/ascent \
              -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON\
              -DCMAKE_BUILD_TYPE=Release \
              -DCMAKE_INSTALL_PREFIX=install/ascent \
              -DENABLE_MPI=ON \
              -DENABLE_FORTRAN=ON \
              -DENABLE_TESTS=ON \
              -DENABLE_PYTHON=OFF \
              -DBLT_CXX_STD=c++14 \
              -DCONDUIT_DIR=install/conduit-v0.8.3/ \
              -DVTKM_DIR=install/vtk-m-v1.8.0/ \
              -DENABLE_VTKH=ON \
              -DRAJA_DIR=install/raja-v0.14.1/ \
              -DUMPIRE_DIR=install/umpire-6.0.0/ \
              -DENABLE_APCOMP=ON \
              -DENABLE_DRAY=ON
        echo "**** Building Ascent"
        cmake --build  build/ascent -j2
        echo "**** Installing Ascent"
        cmake --install  build/ascent


